.footer {
  background-color: black;
}
.content {
  display: flex;
  flex-direction: column;
}
.title {
  color: blue;
  text-align: center;
  margin-right: 45px;
}
.nav {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.link {
  color: white;
  text-decoration: none;

}
